# FastFood Menu and Nutrition Scraper Test Notebook

## Notebook to test model for optimizing a meal based on a restaurant, price and calorie amounts entered by the user.

In [1]:
import pandas as pd
import json

In [2]:
# json paths

nutrition_json = 'nutrition_data_11_25_20.json'
price_json = 'price_data_11_24_20.json'

In [3]:
nutrition = pd.read_json(nutrition_json, orient='split')
prices = pd.read_json(price_json, orient='split')

In [4]:
nutrition

,restaurant,category,name,size,calories
0,Tim Horton’s Nutrition,,,,NaN
1,Tim Horton’s Nutrition,,"Sandwiches, Panini, Wraps",,NaN
2,Tim Horton’s Nutrition,,BLT Sandwich,,360.0
3,Tim Horton’s Nutrition,,Chicken Salad Sandwich,,330.0
4,Tim Horton’s Nutrition,,Ham & Swiss Sandwich,,370.0
...,...,...,...,...,...
16479,Cookout Nutrition,,"Sprite, Large",,220.0
16480,Cookout Nutrition,,"Sprite, Regular",,140.0
16481,Cookout Nutrition,,Side of Chili,,160.0
16482,Cookout Nutrition,,Walnut Milkshake,,850.0
16483,Cookout Nutrition,,Reg BBQ Sandwich,,370.0

### May want to go back to scrapy side of things and possibly do dynamic search that found towards end to make sure that appropriate values are being put in correct columns rather than a lot of cleanup (look at calories implentation)

In [5]:
prices

,restaurant,category,name,size,price
0,Bobby’s Burger Palace Prices,,,,None
1,Bobby’s Burger Palace Prices,Burgers,\nBurgers\n,,None
2,Bobby’s Burger Palace Prices,,Palace Classic Burger (Beef),,$7.95
3,Bobby’s Burger Palace Prices,,Palace Classic Burger (Turkey),,$7.95
4,Bobby’s Burger Palace Prices,,Palace Classic Burger (Chicken),,$7.95
...,...,...,...,...,...
39682,Bobby’s Burger Palace Prices,,Iced Tea,,$2.75
39683,Bobby’s Burger Palace Prices,,Lemonade,,$2.75
39684,Bobby’s Burger Palace Prices,,1/2 Tea and 1/2 Lemonade,,$2.75
39685,Bobby’s Burger Palace Prices,,Bottled Water,,$2.00
39686,Bobby’s Burger Palace Prices,,Bottled Soda,,$2.50

In [6]:
burger_nutrition = nutrition[nutrition.restaurant == 'Burger King Nutrition']

In [7]:
burger_nutrition

,restaurant,category,name,size,calories
13816,Burger King Nutrition,,,,NaN
13817,Burger King Nutrition,,WHOPPER® Sandwiches,,NaN
13818,Burger King Nutrition,,WHOPPER® Sandwich,,660.0
13819,Burger King Nutrition,,WHOPPER® Sandwich w/o Mayo,,500.0
13820,Burger King Nutrition,,WHOPPER® Sandwich with Cheese,,740.0
...,...,...,...,...,...
14002,Burger King Nutrition,,Mocha Frappe,16 fl oz,400.0
14003,Burger King Nutrition,,Caramel Frappe,16 fl oz,410.0
14004,Burger King Nutrition,,KING DEALS VALUE MENU,,NaN
14005,Burger King Nutrition,,Rodeo Crispy Chicken Sandwich,,410.0
14006,Burger King Nutrition,,Rodeo Burger,,310.0

In [8]:
burger_prices = prices[prices.restaurant == 'Burger King Menu Prices']

In [9]:
burger_prices

,restaurant,category,name,size,price
7627,Burger King Menu Prices,,,,None
7628,Burger King Menu Prices,Main Menu,\nMain Menu\nCombo Meals Come with Small Fries...,,None
7629,Burger King Menu Prices,,Whopper,,$4.19
7630,Burger King Menu Prices,,Whopper – Meal,,$6.49
7631,Burger King Menu Prices,,Double Whopper,,$5.29
...,...,...,...,...,...
7751,Burger King Menu Prices,,Milk (Fat Free or Low-Fat Chocolate),,$1.49
7752,Burger King Menu Prices,,Hash Browns,Small,$1.00
7753,Burger King Menu Prices,,Hash Browns,Medium,$1.69
7754,Burger King Menu Prices,,Hash Browns,Large,$1.89
7755,Burger King Menu Prices,,Pancakes,,$2.29

## Look at combinging the names with the sizes in here???

In [10]:
from fuzzywuzzy import fuzz, process